.header{
    width: 100%;
    height: auto;
    margin: 0 auto;
    .rightNav{
        width: 100%;
    }
        li{
            color: white;
            a{
                svg{
                    margin-top: -3px;
                }
            }
        }
 
}