html,
body {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.trainOne {
  width: 100%;
  height: 100%;
}
.trainOne .header {
  width: 1200px;
  height: 80px;
  background-color: #002;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trainOne .header p {
  display: inline-block;
  color: white;
  font-size: x-large;
  margin: auto 15px;
}
.trainOne .header .rightNav li {
  color: white;
}
.trainOne .bodys {
  width: 1200px;
  height: 1200px;
  margin: 0 auto;
  background: white;
  border: 1px solid black;
}
.trainOne .bodys .service_scope {
  width: 100%;
}
.trainOne .bodys .service_scope .line_one {
  position: relative;
  text-align: center;
  top: 10px;
  font-size: 15px;
  color: gray;
  font-weight: bolder;
}
.trainOne .bodys .service_scope .line_one ::before {
  content: "";
  height: 1px;
  width: 40%;
  background: silver;
  position: absolute;
  top: 10px;
  left: 6%;
}
.trainOne .bodys .service_scope .line_one ::after {
  content: "";
  height: 1px;
  width: 40%;
  background: silver;
  position: absolute;
  top: 10px;
  right: 6%;
}
.trainOne .bodys .service_scope .service_body {
  width: 100%;
  margin-top: 30px;
}
.trainOne .bodys .service_scope .service_body ul {
  display: flex;
  justify-content: space-around;
}
.trainOne .bodys .service_scope .service_body ul li {
  width: 150px;
  height: 150px;
  border: 1px solid red;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}
.trainOne .bodys .service_scope .service_body ul li img {
  width: 100%;
  height: 100%;
}
.trainOne .footer {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background: hotpink;
}
