html ,body {
    width: 100vw;
    min-height: 100vh;
    text-decoration: none;
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1024px) {

    .content {
        max-width: 1200px;
        height: 80%;
        margin: 0 auto;
        .bodys{
            max-width: 1200px;
            height: auto;
            margin: 0 auto;
            .bodys_news {
                width: 80%;
                height: auto;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-content: flex-start;
                flex-wrap: wrap;
                .news_one{
                    width: 49%;
                    height: 88px;
                    border: 1px solid silver;
                    margin-top: 16px;
                    border-radius: 4px;
                    // display: flex;
                    // justify-content: space-between;
                    img{
                        width: 30%;
                        height: 88px;
                        display: inline-block;
                    }
                    .news_right{
                        position: relative;
                        p{
                            &:hover{
                                cursor: pointer;
                            }
                            position: absolute;
                            top: -82px;
                            left: 153px;
                            padding-right: 3px;
                            font-size: 15px;
                            font-weight: lighter;
                            a{
                                text-decoration: none;
                                list-style: none;
                                color: black;
                            }
                        }
                        span{
                            position: absolute;
                            top: -32px;
                            left: 153px;
                            font-size: 10px;
                            color: gray;
                        }
                    }
                }
            }

            .bodys_navs{
                margin-top: 60px;
                nav{
                    ul{
                        #blue{
                            background: blue;
                            color: white;
                        }
                    }
                }
            }
        }
        #footerpage{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

// 适配平板端
@media screen and (min-width: 640px) and (max-width: 768px){
    .content {
        width: 100%;
        height: 80%;
        .bodys{
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 140px;
            .bodys_news {
                width: 90%;
                height: auto;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-content: flex-start;
                flex-wrap: wrap;
                .news_one{
                    width: 49%;
                    // height: 88px;
                    border: 1px solid silver;
                    margin-top: 16px;
                    border-radius: 4px;
                    // display: inline-flex;
                    // justify-content: space-between;
                    img{
                        width: 50%;
                        height: 106px;
                        display: inline-block;
                    }
                    .news_right{
                        position: relative;
                        p{
                            &:hover{
                                cursor: pointer;
                            }
                            position: absolute;
                            top: -100px;
                            left: 175px;
                            padding-right: 3px;
                            font-size: 15px;
                            font-weight: lighter;
                            a{
                                text-decoration: none;
                                list-style: none;
                                color: black;
                            }
                        }
                        span{
                            position: absolute;
                            top: -26px;
                            left: 175px;
                            font-size: 10px;
                            color: gray;
                        }
                    }
                }
            }

            .bodys_navs{
                margin-top: 60px;
                nav{
                    ul{
                        #blue{
                            background: blue;
                            color: white;
                        }
                    }
                }
            }
        }
        #footerpage{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

// 适配移动端
@media screen and (max-width: 639px){
    .content {
        width: 100%;
        height: 80%;
        .bodys{
            width: 100%;
            height: auto;
            margin: 0 auto;
            .bodys_news {
                width: 80%;
                height: auto;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .news_one{
                    width: 100%;
                    height: auto;
                    border: 1px solid silver;
                    margin-top: 16px;
                    border-radius: 4px;
                    // display: flex;
                    // justify-content: space-between;
                    img{
                        width: 100%;
                        height: 180px;
                        display: inline-block;
                    }
                    .news_right{
                        position: relative;
                        p{
                            &:hover{
                                cursor: pointer;
                            }
                            margin-top: 10px;
                            font-size: 15px;
                            margin-left: 10px;
                            font-weight: lighter;
                            a{
                                text-decoration: none;
                                list-style: none;
                                color: black;
                            }
                        }
                        span{
                            font-size: 10px;
                            color: gray;
                            display: inline-block;
                            margin-bottom: 10px;
                            margin-left: 10px;
                        }
                    }
                }
            }

            .bodys_navs{
                margin-top: 60px;
                nav{
                    ul{
                        #blue{
                            background: blue;
                            color: white;
                        }
                    }
                }
            }
        }
        // #footerpage{
        //     position: ;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        // }
    }
}